@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-purple: hsl(259, 100%, 65%);
    --color-lightred: hsl(0, 100%, 67%);
    --color-white: hsl(0, 0%, 100%);
    --color-offwhite: hsl(0, 0%, 94%);
    --color-lightgrey: hsl(0, 0%, 86%);
    --color-smokeygrey: hsl(0, 1%, 44%);
    --color-offblack: hsl(0, 0%, 8%);
  }
}

body {
  background-color: hsl(0, 0%, 86%);
}