@tailwind base;
@tailwind components;
@tailwind utilities;

/* add main styles */ 

body {
  background-color: hsl(0, 0%, 86%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .border-radius-custom {
    border-radius: 24px 24px 200px 24px;
    width: 800px;
  }

  @media (max-width: 640px) { 
    .border-radius-custom {
      width: 343px;
    }
  }
}

